
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
   
    <button onclick="location.href = '/employees';" id="myButton" class="float-left submit-button">Employees Add Delete Edit</button>
   
</div>

<div>
    <button onclick="location.href = '/Junction_emp_ts';" id="myButton" class="float-left submit-button">Assign Employee to Technology Service</button>
</div>
<div>
    <button onclick="location.href = '/employees';" id="myButton" class="float-left submit-button">Employees Add Delete Edit</button>
</div>
<div>
    <button onclick="location.href = '/employees';" id="myButton" class="float-left submit-button">Employees Add Delete Edit</button>
</div>