@{
    ViewBag.Title = "Business Finance Tracking Home";
}

<div style="background: #0094ff">


<div class="jumbotron" style="background-image: url(/images/FrontImage.png); background-size: 100%;">
    <h1><b style="color:white">Business Finance Tracking</b></h1>
    <p class="lead" style="color:white">The Applicaitons allows a total cost of ownership to be obtained and attributed to Core Technology and Business Services</p>
</div>

<div class="row" style="padding: 20px">
    <div class="col-md-4">
        <h2>Business Services</h2>
        <p>
            Overview of Business Services.  </p>
        <p><a style="background: #0026ff" class="btn btn-default" href="~/BusinessServices">Business Services &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technology Services</h2>
        <p>Maintain Technology Services.</p>
        <p><a style="background: #0026ff" class="btn btn-default" href="~/TechnologyServices">Technology Services &raquo;</a></p>
    </div>
 
    <div class="col-md-4">
        <h2>Administration</h2>
        <p>Enter New Services and Data</p>
        <p><a style="background: #0026ff" class="btn btn-default" href="~/Administration">Enter Data &raquo;</a></p>
    </div>
</div>
</div>
